.filter-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
  height: 80px;
  padding-left: 30px;
}

.filter-input {
  height: 45px;
  background-color: var(--secundary-color);
  color: var(--grey-ligth-50-color);
  font-size: 16px;
  border: 1px solid var(--gray-ligth-150-color);
  border-radius: 10px;
  width: 250px;
  padding: 12px 5px 12px 20px;
}

.filter-input:first-of-type {
  margin-right: 55px;
}

.filter-input::placeholder {
  color: var(--grey-ligth-50-color);
  font-size: 16px;
}
